:root{
  --teal:#008080;
  --royalblue:#4169e1;
  --violet:#9400d3;
  --green:#008000;
  --magenta:#b008b8;
}

li[class="dog"]{ color: var(--teal); }

li[id="cat"]{ color: var(--royalblue); }

li[class~="parrot"]{ color: var(--violet); }

li[class^="don"]{ color: var(--green); }

li[class$="hedgehog"]{ color: var(--magenta); }

section .list-food ol li{ color: var(--green); }

section .list-food > ol > li:nth-child(-n+2){ color: var(--red); }

section .list-food + small ~ .list-cleaning > ol > li{ color: var(--green); }

